#boton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    border: solid 2px black;
    background-color: blueviolet;
    border-radius: 10px;
}